<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461429071541-bf1pb1b65covo46lvm8jbrqropssn8dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461429071541-bf1pb1b65covo46lvm8jbrqropssn8dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461429071541-hlbudvkkhrj7tbpg9e7cpfjv8e1ovm2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJWqiVcS1QzKWvI-gDv0V-Ou1zmHhyZSI</string>
	<key>GCM_SENDER_ID</key>
	<string>461429071541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Taskineitor</string>
	<key>PROJECT_ID</key>
	<string>taskineitor</string>
	<key>STORAGE_BUCKET</key>
	<string>taskineitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461429071541:ios:b70cbbe9c527101d7ee8fc</string>
</dict>
</plist>